*{
    margin: 0;
    padding: 0;
}

body{
    margin: 1em;
    font-family: sans-serif;
    border: 1px solid black;
}
header,main{
    margin: auto;
}
h1{
    margin: 0.5em;
    text-align: center;
    font-size: 2.2em;
}
h2{
    font-size: 2.5em;
}
input{
    width: 90%;
    display: block;
    padding: 0.2em;
    margin: 1em;
}
#enviar{
    display: block;
    float: right;
    padding: 0.2em;
    margin: 1em;
}
#mensaje{
    margin-top: 1em;
}
.error{
    color: red;
}
.cuadrado2{
    font-size: 1.3em;
    width: 44%;
}
.cuadrado1, .cuadrado2{
    border: 1px solid black;
}

footer{
    padding: 3em 0;
    font-size: 1.5rem;
    border: 1px solid black;
    text-align: center;
}
section{
    display: flex;
    justify-content: space-between;
}
#enviar{
    width: 5em;
}
form{
    width: 30em;
    padding: 0.3em;
}
select{
    width: 30em;
    padding: 0.2em;
    margin: 1em;
}