@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
}
header, main{
    max-width: 60em;
    margin: auto;
}
h1{
    margin: 1em 0;
}
button{
    padding: 1em;
    background: #195ca0;
    color:#fff;
    border:none;
    border-radius: 0.5em;
}