*{
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
h2{
    background: #000;
    color: #fff;
    padding: 10px;
    position: absolute;
    right: 0;
    top:20px;
}
h3{
    margin-top: 10px;
}
p{
    background-color: rgba(255,255,255,0.7);
    padding: 10px;
    position:absolute;
    left:0;
    bottom:20px;
}
header, main{
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}
header{
    background-color: #000;
    text-align: center;
    background-color: #45afab;
    color: #fff;
    padding: 15px 20px;
}
main{
    background-color: #ccc;
    padding-bottom: 10px;
}
.producto{
    background-image: url(../img/paisaje.jpg);
    width: 712px;
    height: 400px;
    box-sizing: border-box;
    position:relative;
    background-size: contain;
    margin:auto;
}
.img-resp{
    max-width: 100%;
    height: auto;
}
.contenedor-columnas{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.contenedor-columnas article{
    width:calc(50% - 30px);
}
