@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}
header{
    text-align: center;
}
header,footer,section{
    border:1px solid #ccc;
    margin:0.5em;
    border-radius: 1em;
    width: 80%;
    margin: auto;
    background-color:#3975a0;
    margin-bottom:1em;
    color:#fff;
    padding:1em;
}
article{
    padding:1em;
    background-color:#fff;
    color: #000;
    border-radius: 0.5em;
    margin: 0.5em 0;
}
footer{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    background-color:#bab7b7;
}