body{
    background-image: url(../img/fondo03.jpg);
    /*El fondo se adapta al ancho disponible*/
    background-size: cover;
    background-size: contain;
}
/*Para agregar iconos*/
.buscador{
    background-image: url(../img/buscar.jpg);
    padding: 10px;
    width: 40%;
    height: 40px;
    box-sizing: border-box;
    background-size: contain;
    /*Q no se repita*/
    background-repeat: no-repeat;
    border-radius: 10px;
}
.boton-buscador{
    background-image: url(../img/buscar.jpg);
    width: 40%;
    height: 40px;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: aqua;
    border-radius: 20px;
    /*Q cuando pase el cursor se cambie la forma*/
    cursor: pointer;
}
.contenedorBuscador{
    display: flex;
    
}