*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 1.6em;
}
h2{
    font-size: 1.5em;
}
p{
    font-size: 1em;
}
@media  screen and (min-width:47em){
    p{
        color: red;
    }
    
}
@media screen and (min-width:60em) {
    p{
        color: blue;
    }
    
}






