*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col{
    background-color: #7b1873;
    color:#fff;
    padding: 0.8em;
    margin-top:1em;
}
@media screen and (min-width:47em){
    .contenedor{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .col{
        width: calc(50% - 1em);
    }

}
@media screen and (min-width:60em) {
    .col{
        width: calc(30% - 1em);
    }
}