@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
}

h2 {
    font-family: "Montserrat", serif;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", serif;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", serif;
    font-weight: 700;
}

h3 {
    font-family: "Montserrat", serif;
    font-weight: 700;
}

h4 {
    font-family: "Montserrat", serif;
    font-weight: 700;
}